.page {
    display: flex;
}

.sidebar {
    border-right: 1px solid var(--text);
    height: 100vh;
    flex: 0.2;
    background-image: linear-gradient(180deg, var(--sidebarColor), rgb(26, 78, 26));
    color: var(--text);
    min-width: 20%;
}
.sidebarLogo {
    margin-right:auto;
    height: 200px;
    width: 200px;
    margin: 70px 70px 45px;
}

.link {
    color: var(--text2);
    height: 100%;
    cursor: pointer;
    transition: 350ms color ease-in;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 22px;
}

.link:hover {
    color: var(--hover);
}

.link.active {
    color: var(--hover);
}

.symbol {
    height: 7%;
    width: 7%;
    margin-right: 10px;
}
.links {
    margin-left: 10%;
}

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 0.8;
    background-image: linear-gradient(180deg, rgb(35, 63, 36), green);   
    color: var(--white);
    
    min-width: 450px;
    min-height: 520px;
}

.contentBody {
    margin: 5px;
}
