.playlistRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    color: var(--white);
    margin-right: 100px;
    width: 1200px;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}


.playlistRow:hover {
    background-color: var(--rowHover);
    opacity: 0.8;
}

.playlistRowName {
    margin-left: 20px;
}

.playlistRowName h1{
    color: var(--white);
}

.playlistRowName:hover {
    cursor: pointer;
}


.listaDePlaylists {
    margin: 150px 30px 0px -30px;
    overflow: hidden;
    overflow-y: scroll;
    height: 60vh;
}

.checkIcon {
    cursor: pointer;
}

.listHeader {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 80px;
}

.listHeader h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.listDivider {
    color: var(--white);
}

.playlists {
    margin-left: 100px;
    margin-top: 20px;
}