.searchData {
    margin-top: 200px;
    margin-left: 50px;
}

.searchDataHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -200px 600px 30px 200px;
}

.headerInput {
    flex: 0.4;
    background-color: var(--white);
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 12%;
}

.headerInput input {
    border: none;
    outline: none;
    height: 40px;
    width: 300px;
    color: var(--text);
}

.buttonSearch button {
    height: 35px;
    width: 50px;
    border-radius: 15px;
    margin-top: 35px;
}

.icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: var(--text);
}