.parametersButtons {
    display: block;
    margin: -40px 60px 70px 130px;
}

.firstLine {
    display: flex;
}

.secondLine {
    display: flex;
}

.linkTable {
    color: var(--text2);
    height: 30px;
    width: 120px;
    cursor: pointer;
    transition: 350ms color ease-in;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 22px;
}

.linkTable:hover {
    color: var(--hover);
}
