.selectlistHeader {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 80px;
}

.selectlistHeader h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.selectlistDivider {
    color: var(--white);
}

.selectPlaylists {
    margin-left: 100px;
    margin-top: 20px;
}