.searchData {
    margin-top: 200px;
    margin-left: 100px;
}

.searchDataHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -200px 600px 30px 200px;
}

.headerInput {
    flex: 0.4;
    background-color: var(--white);
    padding: 10px 30px;
    border-radius: 30px;
}

.headerInput input {
    border: none;
    outline: none;
    height: 40px;
    color: var(--text);
}

.buttonSearch button {
    height: 30px;
    width: 50px;
    border-radius: 15px;
    margin-top: 0px;
}

.icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: var(--text);
}

.elementsSearch {
    margin: 20px 30px 0px -30px;
    overflow: hidden;
    overflow-y: scroll;
    height: 60vh;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.elementRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    color: var(--white);
    margin-right: 100px;
    width: 1200px;
    justify-content: space-between;
}

.elementInfo {
    display: flex;
    align-items: center;
}

.elementRow img {
    height: 50px;
}

.elementRow:hover {
    background-color: var(--rowHover);
    opacity: 0.8;
}

.elementRowText {
    margin-left: 20px;
}

.elementRowText:hover {
    cursor: pointer;
}

.elementRowText p{
    font-size: 14px;
    margin: 3px;
    color: var(--gray);
}

.elementImage {
    width: 40px;
    height: 40px;
}