.home {
    margin-top: 200px;
    margin-left: 100px;
}

.bodyHeader {
    margin-top: -200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 600px 30px 200px;
}

div.headerMid {
    flex: 0.4;
    background-color: var(--white);
    padding: 10px 30px;
    border-radius: 30px;
}

.buttonSearch button {
    height: 30px;
    width: 50px;
    border-radius: 15px;
    margin-top: 0px;
}

.icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: var(--text);
}

.headerMid input {
   margin-right: 300px;
   color: var(--text);
   width: 100%;
   height: 40px; 
   border: none;
   outline: none;
}

.songsSearch {
    margin: 20px 30px 0px -30px;
    overflow: hidden;
    overflow-y: scroll;
    height: 60vh;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    color: var(--white);
    margin-right: 100px;
    width: 60vw;
    justify-content: space-between;
}

.songInfo {
    display: flex;
    align-items: center;
}

.songRow img {
    height: 50px;
}

.songRow:hover {
    background-color: var(--rowHover);
    opacity: 0.8;
}

.songRowText {
    margin-left: 20px;
    display: flex;
}

.plus {
    align-items: center;
    display: flex;
}

.plus .divider {
    height: 100%;
    width: 3px;
    align-self: flex-start;
    background-color: var(--black);
    margin-right: 10px;
}

.plusIcon {
    cursor: pointer;
}

.navLink h1 {
    cursor: pointer;
}