.buttonParameter {
    margin-right: 10px;
    height: 100%;
    width: 100%;
}

.buttonParameter button {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-color: var(--black);
}

.buttonParameter h1 {
    font-size: 12px;
    color: var(--white);
}