.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    color: var(--white);
    margin-right: 100px;
    width: 1200px;
    justify-content: space-between;
}

.songInfo {
    display: flex;
    align-items: center;
}

.songRow img {
    height: 50px;
}

.songRow:hover {
    background-color: var(--rowHover);
    opacity: 0.8;
}

.songRowText {
    margin-left: 20px;
}

.songRowText p{
    font-size: 14px;
    margin: 3px;
    color: var(--gray);
}

.songRowText:hover{
    cursor:pointer;
}

.plus {
    align-items: center;
    display: flex;
}

.plus .divider {
    height: 100%;
    width: 3px;
    align-self: flex-start;
    background-color: var(--black);
    margin-right: 10px;
}

.plusIcon {
    cursor: pointer;
}