* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-size: 16px;
}

.divider {
    margin-bottom: 40px;
    color: var(--text);
}

.list {
    margin-top: 20px;
    margin-left: 100px;
 }

.navScroll {
    margin: 20px 30px 0px -30px;
    overflow: hidden;
    overflow-y: scroll;
    height: 60vh;
}

.navScrollSmall {
    margin: 20px 30px 0px -30px;
    overflow: hidden;
    overflow-y: scroll;
    height: 40vh;
}

.songRow {
    margin-bottom: 30px;
    align-items: center;
}

.songRow:hover {
    background-color: var(--rowHover);
    opacity: 0.8;
}

.songRowText h1{
    color: var(--white);
}

.songRowText p {
    color: var(--white);
    margin-left: 20px;
    font-size: 15px;
    margin-top: 6px;
}

.parameterRow {
    margin-bottom: 14px;
    height: 80px;
    align-items: center;
    margin-left: 100px;
}

.parameterRowText h1{
    color: var(--white);
}

.navLink {
    text-decoration: none;
}

.playlistRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    color: var(--white);
    margin-right: 100px;
    width: 1200px;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}


.playlistRow:hover {
    background-color: var(--rowHover);
    opacity: 0.8;
}

.playlistRowName {
    margin-left: 20px;
}

.playlistRowName h1{
    color: var(--white);
}

.playlistRowName:hover {
    cursor: pointer;
}

.containerLink {
  width: 350px;
  height: 30px;
  margin: 10px 0px 0px 90px;
}

.containerLink h3 {
    margin-left: 20px;
}

.tabela {
    display:flex;
}

.columnSongs {
    display: block;
}

.columnParameter {
    display: block;
    margin-top: 0px;
    margin-right: 130px;
    margin-left: 80px;
}

.tableTitle{
    margin-left: 130px;
    font-size: 20px;
}

.tableTitleParameter{
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: 18px;
}

.tableHeader{
    display:flex;
}

.tableNav {
    margin: 0px 300px 0px 100px;
}

.tableElementText {
   font-size: 20px;
}

.show {
   visibility: visible;
   opacity: 1;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

:root{
    --text: #555555;
    --text2: #BCBCBC;
    --hover: #FFFFFF;
    --background: #151515;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #808080;
    --sidebarColor: #262626;
    --rowHover: #373744;
}